NODE_ENV=development
PORT=3000
LOG_LEVEL=debug
DATABASE_URL=file:dev.db
POLAR_ACCESS_TOKEN=dev
POLAR_PRODUCT_ID=test
POLAR_CREDITS_METER_ID=test
POLAR_SERVER=sandbox

CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
CLERK_OAUTH_CLIENT_SECRET=
CLERK_OAUTH_CLIENT_ID=
CLERK_OAUTH_FRONTEND_API=
JWT_SECRET=jwt-secret

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
